body{
    margin:0;
}
header{
    padding-left: 50px;
}

div img{
    width:inherit ;
    height: inherit ;

}
div.pictures{
    height:200px;
    width:auto;
  border:20px solid white;
  background-color: white;
}
div.pictures2{
    height:200px;
    width:auto;
  border:20px solid green;
  background-color: white;
}
div.main{
    height: 700px;
    width: auto;
    text-align: center;
  border: 5px solid orange;
  background-color: white;
}
div div{
    background-color: yellow
    height: 100px;
    width: 200px;
    float: left;
    margin-top: 400px;
    margin-bottom: 200px;
    margin-left:auto;
    margin-right: auto;
}
.main2{
  border: 5px solid orange;
  background-color.opacity: 0.6;
}
