body{
    margin:0;
}
header{
    padding-left: 50px;
    height: 150px;
    width:auto;
    background-color: #3a3333;
}
nav{
    color: white;
    width: 700px;
    margin: 0 auto;

}
header>div>img{
    height: 100px;
    width: inherit;
    margin-left: 500px;

}
div.pictures{
    height:auto;
    width:inherit;
  border:20px solid white;
  background-color: white;
}
body>div>img{
    width:1224px;
    height: inherit ;

}
div.pictures2{
    height:auto;
    width:inherit;
  border:20px solid green;
  background-color: white;
}

div.main{
    height: 170px;
    width: auto;
    text-align: center;
  background-color: white;
}
div.text1{
    width: 900px;
    margin: 0 auto;
}
div.square1{
    background-color: green;
    height: 100px;
    width: 300px;
    margin-left: 250px;
    text-align: center;
    color:white;
}
div.square2{
    background-color: green;
    height: 100px;
    width: 300px;
    margin-right: 250px;
    text-align: center;
    color:white;
}
div.text2{
    widows: 700px;
text-align: center;
}
.main2{
  border: 5px solid orange;
  background-color.opacity: 0.6;
}
footer{
    background-color: #3a3333;
    color: white;
}
