body{
    margin:0;
}
header{
    padding-left: 50px;
    height: 200px;
    width:auto;
    background-color: black;
}
header>div>img{
    height: 100px;
    width: inherit;
    margin-left: 300px;

}
div.pictures{
    height:auto;
    width:inherit;
  border:20px solid white;
  background-color: white;
}
body>div>img{
    width:1224px;
    height: inherit ;

}
div.pictures2{
    height:auto;
    width:inherit;
  border:20px solid green;
  background-color: white;
}

div.main{
    height: 170px;
    width: auto;
    text-align: center;
  background-color: white;
}
div.square1{
    background-color: green;
    height: 100px;
    width: 300px;
    margin-left: 150px;
    text-align: center;
    color:white;
}
div.square2{
    background-color: green;
    height: 100px;
    width: 300px;
    margin-right: 150px;
    text-align: center;
    color:white;
}
.main2{
  border: 5px solid orange;
  background-color.opacity: 0.6;
}

